:root{
    --main-color : #0E79B2;
    --secondary-color : #00D9C0;
    --gradient : linear-gradient(
        to right, var(--main-color),
        var(--secondary-color)
        );
    }
.navbar, footer{
    background-color: #191923;
}

body{
    background-color: #FBFEF9;
    min-height: 100vh;
}
.icon{
    color: #fff;
}
.profile-menu-wrap{

    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;

}
.profile-menu-wrap::before{
    content: '';
    position: absolute;
    top: 5px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: #fff;
    transform: rotate(45deg);
}
.profile-menu-wrap.open-menu{
    max-height: 400px;
}
.profile-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.profile-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.profile-menu-link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;

}
.profile-menu-link p{
    width: 100%;
}
.profile-menu-link i{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.profile-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.profile-menu-link:hover span{
    transform: translateX(5px);
}
.profile-menu-link:hover p{
    font-weight: 600;
}

.box1{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('../images/travel.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
.box1 img{
    background-size: cover;
   max-height: 800px;
}

.float {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;


}
.float a{
    margin-left: 200px;
    margin-top: 20px;
    border: 2px solid #fff;
    color: #fff;
}
#login{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 10%;
}

.container{
    background-color: #FFFFF3;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    min-height: 480px;
    max-width: 100%;

}
.form-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.6s ease-in-out;
}
.login-container{
   width: 50%;
   z-index: 2;
}
.register-container{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container h1{
    font-weight: bold;
    padding: 30px 7px;
    margin: 0;
}
.container p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.container input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-family: inherit;
}
.container a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.container button{
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

}
.container button:hover{
    background: var(--secondary-color);
}
.container button:active{
    transform: scale(0.95);
}
.container button:focus{
   outline: none;
}
#signIn:hover,#signUp:hover{
   background: #fff;
   color: var(--secondary-color);
}
#signIn,#signUp{
    background-color: transparent;
    border: 2px solid #fff;
}
.container.right-panel-active .login-container{
    transform: translateX(100%);
}
.container.right-panel-active .register-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: #fff;
    background: var(--secondary-color);
    left: -100%;
    height: 100%;
    width: 200%;
    background: var(--gradient);
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;


}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;

}
.overlay-left{
    transform: translateX(-20%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}

.social-container{
    margin: 20px 0;
}
.social-container a{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;

}
.banner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-content,.detail-transaction{
    background: #fff;
    height: 330px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0 ;
    font-size: 26px;
    font-weight: 500;

}
.detail-transaction h3{
    color: #000;
    padding: 25px 0 10px 0 ;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}
.form-row,.package-detail{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.card-content input, .card-content select{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
}
.card-content input::placeholder,.card-content select,.card-content input[type="date"]{
    color: #9a9a9a;
}
.card-content button{
    color: #fff;
    background-color: var(--main-color);
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.detail-transaction{
    color: #9a9a9a;
    margin-left: 10px;
    width: 100%;
    padding-left: 20px;



}
.package-detail{
    flex-direction: row;


}
.package-detail img{
    width: 15%;
    margin-right: 20px;
}
.package-detail h6{
    font-weight: 400;
    margin-top: 20px;

}
.card-content button:hover{
    background-color: var(--secondary-color);
}
.tour-detail{
    padding-left: 20px;
    padding-top: 40px;
    text-transform: uppercase;
   font-weight: 400;
}
.ticket-quantity{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.ticket-quantity h6{
    margin-top: 20px;
    margin-right: 5px;
}
.total-price{
    display: flex;
    margin-top: 10%;

    color: #000;

}
#title-total{
    font-weight: 400;
    font-size: medium;
}
#total-price{
    color: var(--main-color);
    margin-left: 40%;
}
.jumbotron{
    margin-top: 50px;
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
    height: 200px;
}
.travel-pack{
    padding-bottom: 80px;

}
.product-card{

    box-shadow: 0 6px 20px 0  rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    margin-bottom: 20px;
    margin-left: 30px;
    height: 337px;
    width: 289px;

}
.travel-pack .card-body{
   padding-left: 15px;
   padding-top: 15px;
}
.product-card img{
    max-height: 185px;
}
.product-header{
    margin-bottom: 50px;
}
.product-header h2{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}
.pagination{
    display: flex;
    justify-content: center;




}
.pagination > li > a,
.pagination > li > span {
    color: #BF1363;

}




.product-title h4{
    font-size: 1.3rem;
    color: #444444;
    padding-bottom: 5px;

}
.product-price{
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: #444444;
    padding-bottom: 10px;
}
.detail-button a{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    background: var(--main-color);
    /* background: #485665; */
    /* blue :#18206F*/
    /* pruple : #485665
    dark : #1E3231 */

    transition: transform 80ms ease-in;
    padding: 12px;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    margin-top: 5px;


}
.detail-button a:hover{
    color: var(--secondary-color);
    border: 2px solid var(--main-color);
    background: #fff;
}

.detail-button:active{
    transform: scale(0.95);
}
.detail-button:focus{
   outline: none;
}


@media(max-width : 992px)
{
    .card-container{
        grid-template-columns: 100%;
    }
}

